/* GÉNÉRALES */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

/* -------- HEADER --------- */

header {
  border-bottom: 1px solid grey;
}

.top-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}

/* --------------------------- */
/* --------- MAIN ------------ */
/* --------------------------- */

/* SLIDER */
.slider {
  /* construction */
  border-bottom: 1px solid grey;
  background: no-repeat center/100%
    url("./assets/img/banner-wide-9b45d0aa9a311c4ff6013e9cf3bc2b6646468be3d2f553192c63598685fcc177.jpg");
}

.slider .container {
  height: 340px;
  display: flex;
}

.sections .list-offer {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

.list-offer .author {
  display: flex;
}

.list-offer .author img {
  width: 60px;
}

.list-offer .product {
  width: calc(100% / 5 - 15px);
}

.product-preview img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}
